{% extends 'base.html' %}

{% block content %}
    <section id="dashboard-page" class="dashboard">
        <h1>Dashboard</h1>
        <ul class="my-books-list">
            {% for book in books %}
                <li class="myBooks">
                    <h3>{{ book.title }}</h3>
                    <p>Type: {{ book.type }}</p>
                    <p class="img"><img src="{{ book.image }}" alt="{{ book.title }}">
                    </p>
                    <a class="button" href="{% url 'show book' book.id %}">Details</a>
                </li>
            {% empty %}
                <p class="no-books">No books in database!</p>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
